@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="card-link" asp-area="" asp-controller="Motorcycles" asp-action="Index">Motorcycles</a>
    <a class="card-link" asp-area="" asp-controller="Motorcycles" asp-action="Votes">Votes</a>
</div>
